body {
    overflow-x: hidden;
}

nav {
    border-bottom: 1px solid lightgray;
    width: 98vw;
    height: 70px;

}

.main-2 {

    width: 98vw;
    height: 50px;

}

.container>a {
    color: rgb(100, 139, 245);
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 1px;
}

.a-1:hover {
    text-decoration: underline;
    opacity: 0.9;
}

#btn-1 {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
}

#btn-1:hover {
    background-color: rgb(228, 220, 220);
    transition-duration: 300ms;
}

#btn-2 {
    background-color: rgb(247, 92, 36);
    border-radius: 5px;
    border: none;
}

#btn-2:hover {
    background-color: rgb(226, 89, 38);
    transition-duration: 300ms;

}

.a-1 {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.main-3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 2%, rgb(0, 0, 0)), url(img2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;



}

.h1-1 {
    position: absolute;
    top: 40%;
    left: 30%;
    color: rgb(255, 255, 255);
    font-weight: 700;

}

.p-1 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 8%;
    text-align: center;
}

.btn-3 {

    font-weight: 600;
    position: absolute;
    top: 74%;
    left: 43%;

}

#btn-3 {
    color: rgb(0, 0, 0);
    background-color: rgba(182, 175, 175, 0.603);
    padding: 7px;
    font-weight: 600;
    border-radius: 12px;
}

.h1-3 {
    font-weight: 700;
    text-align: center;

}

#btn-4 {
    margin-top: 6%;
    width: 30%;
    border-radius: 8px;
    background-color: rgb(39, 204, 39);
    padding: 7px;


}

#btn-4:hover {
    background-color: rgb(26, 175, 26);
    transition-duration: 300ms;

}

.main-8 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 2%, rgb(0, 0, 0)), url(img2.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 97vw;
    height: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;



}

.h1-5 {
    position: absolute;
    top: 40%;
    left: 5%;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;

}

.btn-5 {

    font-weight: 600;
    position: absolute;
    top: 74%;
    left: 43%;
}

#btn-5 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 7px;
    font-weight: 600;
    padding: 8px;
    border: none;
}

#fig-1:hover {
    text-decoration: underline;
}
#fig-2:hover {
    text-decoration: underline;
}
#fig-3:hover {
    text-decoration: underline;
}
#fig-4:hover {
    text-decoration: underline;
}
#sp-1:hover{
    color: rgb(100, 139, 245);
    transition-duration: 300ms;
}
#sp-2:hover{
    color: rgb(100, 139, 245);
    transition-duration: 300ms;
}
#sp-3:hover{
    color: rgb(100, 139, 245);
    transition-duration: 300ms;
}